.search-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  gap: 12px;
  padding: 16px;
  margin: 16px auto;
  max-width: 80%;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-input {
  padding: 12px;
  width: 50%; 
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  flex: 1;
}

.search-select {
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  flex: 0.3;
}

.search-button {
  padding: 12px 20px;
  border-radius: 4px;
  border: none;
  color: white;
  font-size: 16px;
  flex: 0.2;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.search-button.active {
  background-color: green;
  cursor: pointer;
}

.search-button.inactive {
  background-color: #ccc;
  cursor: not-allowed;
}

.search-button:hover {
  background-color: darkgreen;
  transform: scale(1.05); 
}


.page-button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.page-button.previous,
.page-button.next {
  background-color: purple;
  cursor: pointer;
}



.page-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
